{% load static %}
<footer class="footer bg-dark-200 box_padding">
    <div class="footer_inner bg-black">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-4 col-md-2 col-sm-2">
                    <div class="section-header">
                        <h2>Контакты</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="communication">
                        <div class="info_body">
                            <h6>Email</h6>
                            <h5>{{ setting.email }}</h5>
                        </div>
                        <div class="info_body">
                            <h6>Номер телефона</h6>
                            <h5>{{ setting.phone }}</h5>
                        </div>
                        <div class="info_body">
                            <h6>Наш адрес</h6>
                            <h5>{{ setting.address }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="footer_elements d-flex align-items-center justify-content-end">
                        <div class="footer_elements_inner">
                            <div class="footer_logo">
                                <a href="{% url 'index' %}" class="light_logo"><img src="{{ setting.logo.url }}" alt="logo"></a>
                            </div>
                            <div class="footer_social">
                                <ul class="social_list">
                                    {% if setting.facebook %}
                                    <li class="facebook"><a href="{{ setting.facebook }}"><i class="bi bi-facebook"></i></a></li>
                                    {% endif %}
                                    <!-- <li class="twitter"><a href="#"><i class="bi bi-telegram"></i></a></li> -->
                                    {% if setting.instagram %}
                                    <li class="instagram"><a href="{{ setting.instagram }}"><i class="bi bi-instagram"></i></a></li>
                                    {% endif %}
                                    {% if setting.tiktok %}
                                    <li class="tiktok"><a href="{{ setting.tiktok }}"><i class="bi bi-tiktok"></i></a></li>
                                    {% endif %}
                                    {% if setting.whatsapp %}
                                    <li class="whatsapp"><a href="{{ setting.whatsapp }}"><i class="bi bi-whatsapp"></i></a></li>
                                    {% endif %}
                                    <!-- <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li> -->
                                </ul>
                            </div>
                            <div class="copyright">
                                <p>KB Trade 2023. Сделано командой <a href="https://www.instagram.com/codexx_studio/">Codex Studio</a>. Все права защищены</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Section Grid Lines -->
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>
    </div>
</footer>