<section class="contact_us bg-dark-200">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2 class="text-white text-uppercase mb-4">Оставить заявку на подбор</h2>
                    <p class="$gray-600">Вы можете подать заявку на подбор автомобиля, который вас интересует. После того, как вы отправите заявку, наши менеджеры свяжутся с вами для уточнения ваших предпочтений.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home_contact">
                    <form action="" method="POST">
                        <input class="form-control form-control-lg" name="name" id="name" type="text"
                            placeholder="ФИО*" required aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="phone" id="phone" type="number"
                            placeholder="Номер телефона WA или Telegram*" aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="name" id="name" type="text"
                            placeholder="Модель авто" required aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="name" id="name" type="text"
                            placeholder="Тип и объем двигателя" required aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="name" id="name" type="text"
                            placeholder="Цвет" required aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="email" id="email" type="email"
                            placeholder="VIN номер и номер детали" required
                            aria-label=".form-control-lg example">

                        <input class="form-control form-control-lg" name="email" id="email" type="email"
                            placeholder="Комплектация" required aria-label=".form-control-lg example">

                        <div class="btn_group">
                            <button type="submit" class="btn olive">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
    </ul>
</section>