{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>
                <span data-preloader-text="B" class="characters">B</span>
                <span data-preloader-text=" " class="characters"> </span>
                <span data-preloader-text="T" class="characters">T</span>
                <span data-preloader-text="R" class="characters">R</span>
                <span data-preloader-text="A" class="characters">A</span>
                <span data-preloader-text="D" class="characters">D</span>
                <span data-preloader-text="E" class="characters">E</span>
            </div>
        </div>
    </div>

    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    {% include 'include/header.html' %}

    <!-- Page Header -->
    <div class="page_header">
        <div class="page_header_inner">
            <div class="container">
                <div class="page_header_content d-flex align-items-center justify-content-between">
                    <h2 class="heading">Преимущества</h2>
                    <ul class="breadcrumb d-flex align-items-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li class="active">Преимущества</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <main class="wrapper">
        <!-- Our Team -->
        <section class="team team-details">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 ps-lg-0">
                        <div class="team-member-information">
                            <h5 class="name text-white">Преимущества</h5>
                            <h6 class="designation text-uppercase text-olive">{{ setting.title }}</h6>
                            <div class="bio">{{ setting.description }}</div>

                            <div class="edu-quali">
                                <h6 class="widget-title">
                                    Почему мы?
                                    <span class="title-line"></span>
                                </h6>
                                <ul class="point_order">
                                    {% for benefit in benefits %}
                                    <li>{{ benefit.description }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="latest-projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <h6 class="widget-title text-white mb-3">
                                    Автомобили в наличии
                                    <span class="title-line"></span>
                                </h6>
                                <div class="text text-white">Автомобили в наличии {{ setting.title }}
                                </div>
                            </div>
                        </div>
                        {% for car in cars %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="{% url 'car_detail' car.id %}">
                                    <img src="{{ car.car_images.all.0.image.url }}" alt="img">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% include 'include/selection_request.html' %}
    </main>



    <!-- Footer-->
    {% include 'include/footer.html' %}

    <div class="totop">
        <a href="#">↑</a>
    </div>
    <!-- Section Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
    </ul>


{% endblock %}