<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Mrittik is a Modern Architecture Theme">
    <meta name="author" content="">

    <!-- Favicon and touch Icons -->
    <link href="../assets/img_auto/favicon.png" rel="shortcut icon" type="image/png">
    <!-- Page Title -->
    <title>KB TRADE - Инфо машина</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="../assets/css/style.css">

</head>


<body class="bg-dark">

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>
                <span data-preloader-text="B" class="characters">B</span>
                <span data-preloader-text=" " class="characters"> </span>
                <span data-preloader-text="T" class="characters">T</span>
                <span data-preloader-text="R" class="characters">R</span>
                <span data-preloader-text="A" class="characters">A</span>
                <span data-preloader-text="D" class="characters">D</span>
                <span data-preloader-text="E" class="characters">E</span>
            </div>
        </div>
    </div>


    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header_inner d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="index.html" class="light_logo"><img src="../assets/img_auto/logo.png" alt="logo"></a>
                </div>
                <div class="mainnav d-none d-lg-block">
                    <ul class="main_menu">
                        <li class="menu-item"><a href="index.html">Главная</a></li>
                        <li class="menu-item"><a href="about.html">О нас</a></li>
                        <li class="menu-item"><a href="benefits.html">Преимущества</a></li>
                        <li class="menu-item"><a href="stages.html">Этапы работы</a></li>
                        <li class="menu-item"><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="header_right_part d-flex align-items-center">
                    <button class="aside_open">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Mobile Responsive Menu -->
    <div class="mr_menu">
        <div class="mr_menu_overlay"></div>
        <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
        <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
        <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->

        <!-- Footer-->
        <footer class="footer p-0">
            <div class="footer_inner pb-0">
                <div class="footer_elements d-flex align-items-center justify-content-center">
                    <div class="footer_elements_inner">
                        <div class="footer_social">
                            <ul class="social_list justify-content-center">
                                <li class="facebook"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li class="tiktok"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                <li class="whatsapp"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>KB Trade 2023. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="aside_info_wrapper">
        <button class="aside_close"><i class="bi bi-x-lg"></i></button>
        <div class="aside_logo">
            <a href="index.html" class="light_logo"><img src="../assets/img_auto/logo.png" alt="logo"></a>
        </div>
        <div class="aside_info_inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <div class="aside_info_inner_box">
                <h5>Контакты</h5>
                <p>+996 456 789 333</p>
                <p>Кыргызстан</p>
                <p>KBtrade@gmail.com</p>

            </div>
            <div class="social_sites">
                <ul class="d-flex align-items-center justify-content-center">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page Header -->
    <div class="page_header">
        <div class="page_header_inner">
            <div class="container">
                <div class="page_header_content d-flex align-items-center justify-content-between">
                    <h2 class="heading">Инфо о машине</h2>
                    <ul class="breadcrumb d-flex align-items-center">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="cars.html">Машины</a></li>
                        <li class="active">Инфо о машине</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Wrapper-->
    <main class="wrapper">
        <!-- Scroll Progress -->

        <section class="project-details bg-dark-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="post-image">
                            <img src="../assets/img_auto/home5/home5-banner-img-02.png" alt="image">
                        </div>
                        <div class="project-details_inner">
                            <div class="post_content">
                                <div class="post-header">
                                    <h3 class="post-title">Lorem, ipsum dolor.</h3>
                                </div>
                                <div class="fulltext">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A consequuntur vero
                                        magni deleniti rem. Labore, nam animi similique voluptate tempora distinctio
                                        ducimus. Optio nulla fuga debitis assumenda! Nesciunt, quam ullam?
                                    </p>
                                    <figure class="block-gallery mb-0">
                                        <ul class="blocks-gallery-grid">
                                            <li class="blocks-gallery-item mb-0 me-0">
                                                <figure>
                                                    <img src="../assets/img_auto/home5/home5-banner-img-01.png"
                                                        alt="img" class="block-image">
                                                </figure>
                                            </li>
                                        </ul>
                                    </figure>

                                    <h6 class="widget-title">
                                        Lorem ipsum dolor sit.
                                        <span class="title-line"></span>
                                    </h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit incidunt
                                        molestiae quisquam, modi nostrum. Aperiam, assumenda magnam! Est ex quidem
                                        quaerat enim velit facere quibusdam? Rerum quia facere cumque!</p>
                                    <ul class="point_order">
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                    </ul>

                                    <figure class="block-gallery">
                                        <ul class="blocks-gallery-grid">
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="../assets/img_auto/home5/home5-banner-img-01.png"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="../assets/img_auto/home5/home5-banner-img-01.png"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="../assets/img_auto/home5/home5-banner-img-02.png"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="../assets/img_auto/home5/home5-banner-img-02.png"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="../assets/img_auto/home5/home5-banner-img-03.png"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="../assets/img_auto/home5/home5-banner-img-03.png"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                        </ul>
                                    </figure>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis incidunt
                                        animi dolore sapiente necessitatibus exercitationem inventore dolor soluta quo
                                        placeat cum mollitia tempore, ipsum amet repudiandae facere! Porro, aliquam
                                        impedit!
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo doloremque
                                        veritatis impedit repudiandae, molestiae assumenda laborum odit vero dolor sed
                                        itaque tenetur sequi eveniet distinctio aliquam quia dicta corrupti.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar">
                            <div class="project-information">
                                <h6 class="widget-title">
                                    Инфо о машине
                                    <span class="title-line"></span>
                                </h6>
                                <ul>
                                    <li>
                                        <span class="data">Руль:</span> <span class="value">Левы</span>
                                    </li>
                                    <li>
                                        <span class="data">Info heading:</span> <span class="value">Info text</span>
                                    </li>
                                    <li>
                                        <span class="data">Info heading:</span> <span class="value">Info text</span>
                                    </li>
                                    <li>
                                        <span class="data">Info heading:</span> <span class="value">Info text</span>
                                    </li>
                                    <li>
                                        <span class="data">Info heading:</span> <span class="value">Info text</span>
                                    </li>

                                </ul>

                                <div class="project-share">
                                    <ul>
                                        <li>Поделиться:</li>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact_us bg-dark-200">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <h2 class="text-white text-uppercase mb-4">Оставить заявку на подбор</h2>
                            <p class="$gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi enim
                                possimus temporibus at odit molestiae eius rerum quis, magnam id aliquam nihil sunt
                                placeat hic blanditiis vitae deleniti necessitatibus adipisci consectetur. Ut at quam
                                beatae!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home_contact">
                            <form action="" method="POST">
                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="ФИО*" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="phone" id="phone" type="number"
                                    placeholder="Номер телефона WA или Telegram*" aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Модель авто" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Тип и объем двигателя" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Цвет" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="email" id="email" type="email"
                                    placeholder="VIN номер и номер детали" required
                                    aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="email" id="email" type="email"
                                    placeholder="Комплектация" required aria-label=".form-control-lg example">

                                <div class="btn_group">
                                    <button type="submit" class="btn olive">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Grid Lines -->
            <ul class="grid_lines d-none d-md-flex justify-content-between">
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
            </ul>
        </section>
    </main>

    <!-- Footer-->
    <footer class="footer bg-dark-200 box_padding">
        <div class="footer_inner bg-black">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="section-header">
                            <h2>Контакты</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="communication">
                            <div class="info_body">
                                <h6>Email</h6>
                                <h5>KBtrade@gmail.com</h5>
                            </div>
                            <div class="info_body">
                                <h6>Номер телефона</h6>
                                <h5>+996 555 777 666</h5>
                            </div>
                            <div class="info_body">
                                <h6>Наш адрес</h6>
                                <h5>Кыргызстан, г.Бишкек</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="footer_elements d-flex align-items-center justify-content-end">
                            <div class="footer_elements_inner">
                                <div class="footer_logo">
                                    <a href="index.html" class="light_logo"><img src="../assets/img_auto/logo.png"
                                            alt="logo"></a>
                                </div>
                                <div class="footer_social">
                                    <ul class="social_list">
                                        <li class="facebook"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li class="tiktok"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li class="whatsapp"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="copyright">
                                    <p>KBTrade 2023. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Section Grid Lines -->
            <ul class="grid_lines d-none d-md-flex justify-content-between">
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
            </ul>
        </div>
    </footer>

    <div class="totop">
        <a href="#">↑</a>
    </div>

    <!-- Page Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
    </ul>

    <!-- Core JS -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>



    <!-- Swiper for Slider Type -->
    <script src="../plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Funfacts -->
    <!-- <script src="../assets/js/funfacts.js"></script> -->

    <!-- Portfolio -->
    <script src="../plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="../plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="../plugins/isotope/packery-mode.pkgd.js"></script>
    <script src="../plugins/isotope/tilt.jquery.js"></script>
    <script src="../plugins/isotope/isotope-init.js"></script>

    <!-- Fancybox -->
    <script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="../plugins/fancybox/fancybox-init.js"></script>



    <!-- Cursor Effect -->
    <script src="../plugins/cursor-effect/cursor-effect.js"></script>

    <!-- Select2 -->
    <script src="../plugins/select2/js/select2.min.js"></script>

    <!-- AOS effect JS -->
    <script src="../plugins/aos/aos.js"></script>

    <!-- Theme Custom JS -->
    <script src="../assets/js/theme.js"></script>
</body>

</html>