{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>
                <span data-preloader-text="B" class="characters">B</span>
                <span data-preloader-text=" " class="characters"> </span>
                <span data-preloader-text="T" class="characters">T</span>
                <span data-preloader-text="R" class="characters">R</span>
                <span data-preloader-text="A" class="characters">A</span>
                <span data-preloader-text="D" class="characters">D</span>
                <span data-preloader-text="E" class="characters">E</span>
            </div>
        </div>
    </div>


    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    {% include 'include/header.html' %}

    <!-- Page Header -->
    <div class="page_header">
        <div class="page_header_inner">
            <div class="container">
                <div class="page_header_content d-flex align-items-center justify-content-between">
                    <h2 class="heading">{{ car.make }} {{ car.model }} {{ car.year }}</h2>
                    <ul class="breadcrumb d-flex align-items-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'index' %}">Машины</a></li>
                        <li class="active">{{ car.make }} {{ car.model }} {{ car.year }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Wrapper-->
    <main class="wrapper">
        <!-- Scroll Progress -->

        <section class="project-details bg-dark-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="post-image">
                            <img src="{{ car.car_images.all.0.image.url }}" alt="image">
                        </div>
                        <div class="project-details_inner">
                            <div class="post_content">
                                <div class="post-header">
                                    <h3 class="post-title">{{ car.make }} {{ car.model }} {{ car.year }}</h3>
                                </div>
                                <div class="fulltext">
                                    <p>
                                        Автомобиль {{ car.make }} {{ car.model }} {{ car.year }} года, с пробегом {{ car.odometer }} км, местонахождение - город Корея. Автомобиль будет продан с онлайн аукциона, дата торгов 2023-09-20 07:00, по Бишкекскому времени.
                                        Если Вам понравился автомобиль, и Вы хотите принять участие в аукционе, отправьте запрос через форму связи или предложите ставку (форма «Предложить ставку»), и мы свяжемся с Вами в кратчайшие сроки для уточнения всех деталей. Внимание! Предложение ставки не накладывает на Вас никаких обязательств. Отправив запрос на участие в онлайн торгах, Вы лишь показываете свою заинтересованность в покупке автомобиля. Решение о приобретении авто Вы примите только после общения с менеджером компании {{ setting.title }} и после подписания договора. Подробнее о покупке авто в США читайте на этой странице.
                                    </p>
                                    <figure class="block-gallery mb-0">
                                        <ul class="blocks-gallery-grid">
                                            <li class="blocks-gallery-item mb-0 me-0">
                                                <figure>
                                                    <img src="{% static 'assets/img_auto/home5/home5-banner-img-01.png' %}"
                                                        alt="img" class="block-image">
                                                </figure>
                                            </li>
                                        </ul>
                                    </figure>

                                    <h6 class="widget-title">
                                        Lorem ipsum dolor sit.
                                        <span class="title-line"></span>
                                    </h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit incidunt
                                        molestiae quisquam, modi nostrum. Aperiam, assumenda magnam! Est ex quidem
                                        quaerat enim velit facere quibusdam? Rerum quia facere cumque!</p>
                                    <ul class="point_order">
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
                                            mollitia officiis neque reiciendis.</li>
                                    </ul>

                                    <figure class="block-gallery">
                                        <ul class="blocks-gallery-grid">
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="{% static 'assets/img_auto/home5/home5-banner-img-01.png' %}"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="{% static 'assets/img_auto/home5/home5-banner-img-01.png' %}"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="{% static 'assets/img_auto/home5/home5-banner-img-02.png' %}"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="{% static 'assets/img_auto/home5/home5-banner-img-02.png' %}"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="{% static 'assets/img_auto/home5/home5-banner-img-03.png' %}"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="{% static 'assets/img_auto/home5/home5-banner-img-03.png' %}"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                        </ul>
                                    </figure>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis incidunt
                                        animi dolore sapiente necessitatibus exercitationem inventore dolor soluta quo
                                        placeat cum mollitia tempore, ipsum amet repudiandae facere! Porro, aliquam
                                        impedit!
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo doloremque
                                        veritatis impedit repudiandae, molestiae assumenda laborum odit vero dolor sed
                                        itaque tenetur sequi eveniet distinctio aliquam quia dicta corrupti.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar">
                            <div class="project-information">
                                <h6 class="widget-title">
                                    Инфо о машине
                                    <span class="title-line"></span>
                                </h6>
                                <ul>
                                    <li>
                                        <span class="data">Марка:</span> <span class="value">{{ car.make }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Модель:</span> <span class="value">{{ car.model }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Год выпуска:</span> <span class="value">{{ car.year }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Цвет:</span> <span class="value">{{ car.color }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Двигатель:</span> <span class="value">{{ car.car_volume }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Пробег:</span> <span class="value">{{ car.odometer }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Трансмиссия:</span> <span class="value">{{ car.gearbox }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Привод:</span> <span class="value">{{ car.drive_unit }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Кузов:</span> <span class="value">{{ car.drive_unit }}</span>
                                    </li>
                                </ul>

                                <div class="project-share">
                                    <ul>
                                        <li>Поделиться:</li>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact_us bg-dark-200">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <h2 class="text-white text-uppercase mb-4">Оставить заявку на подбор</h2>
                            <p class="$gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi enim
                                possimus temporibus at odit molestiae eius rerum quis, magnam id aliquam nihil sunt
                                placeat hic blanditiis vitae deleniti necessitatibus adipisci consectetur. Ut at quam
                                beatae!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home_contact">
                            <form action="" method="POST">
                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="ФИО*" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="phone" id="phone" type="number"
                                    placeholder="Номер телефона WA или Telegram*" aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Модель авто" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Тип и объем двигателя" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="name" id="name" type="text"
                                    placeholder="Цвет" required aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="email" id="email" type="email"
                                    placeholder="VIN номер и номер детали" required
                                    aria-label=".form-control-lg example">

                                <input class="form-control form-control-lg" name="email" id="email" type="email"
                                    placeholder="Комплектация" required aria-label=".form-control-lg example">

                                <div class="btn_group">
                                    <button type="submit" class="btn olive">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Grid Lines -->
            <ul class="grid_lines d-none d-md-flex justify-content-between">
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
            </ul>
        </section>
    </main>

    <!-- Footer-->
    <footer class="footer bg-dark-200 box_padding">
        <div class="footer_inner bg-black">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="section-header">
                            <h2>Контакты</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="communication">
                            <div class="info_body">
                                <h6>Email</h6>
                                <h5>KBtrade@gmail.com</h5>
                            </div>
                            <div class="info_body">
                                <h6>Номер телефона</h6>
                                <h5>+996 555 777 666</h5>
                            </div>
                            <div class="info_body">
                                <h6>Наш адрес</h6>
                                <h5>Кыргызстан, г.Бишкек</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="footer_elements d-flex align-items-center justify-content-end">
                            <div class="footer_elements_inner">
                                <div class="footer_logo">
                                    <a href="index.html" class="light_logo"><img src="../assets/img_auto/logo.png"
                                            alt="logo"></a>
                                </div>
                                <div class="footer_social">
                                    <ul class="social_list">
                                        <li class="facebook"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li class="tiktok"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li class="whatsapp"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="copyright">
                                    <p>KBTrade 2023. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Section Grid Lines -->
            <ul class="grid_lines d-none d-md-flex justify-content-between">
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
            </ul>
        </div>
    </footer>

    <div class="totop">
        <a href="#">↑</a>
    </div>

    <!-- Page Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
    </ul>

{% endblock %}