{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>
                <span data-preloader-text="B" class="characters">B</span>
                <span data-preloader-text=" " class="characters"> </span>
                <span data-preloader-text="T" class="characters">T</span>
                <span data-preloader-text="R" class="characters">R</span>
                <span data-preloader-text="A" class="characters">A</span>
                <span data-preloader-text="D" class="characters">D</span>
                <span data-preloader-text="E" class="characters">E</span>
            </div>
        </div>
    </div>


    <!-- Cursor Effect -->
    <!-- <div class="pointer bnz-pointer" id="bnz-pointer"></div> -->

    <!-- Header -->
    {% include 'include/header.html' %}

    <!-- Page Header -->
    <div class="page_header">
        <div class="page_header_inner">
            <div class="container">
                <div class="page_header_content d-flex align-items-center justify-content-between">
                    <h2 class="heading">{{ car.make }} {{ car.model }} {{ car.year }}</h2>
                    <ul class="breadcrumb d-flex align-items-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'index' %}">Машины</a></li>
                        <li class="active">{{ car.make }} {{ car.model }} {{ car.year }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Wrapper-->
    <main class="wrapper">
        <!-- Scroll Progress -->

        <section class="project-details bg-dark-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="post-image">
                            <img src="{{ car.car_images.all.0.image.url }}" alt="image">
                        </div>
                        <div class="project-details_inner">
                            <div class="post_content">
                                <div class="post-header">
                                    <h3 class="post-title">{{ car.make }} {{ car.model }} {{ car.year }}</h3>
                                </div>
                                <div class="fulltext">
                                    <p>
                                        Автомобиль {{ car.make }} {{ car.model }} {{ car.year }} года, с пробегом {{ car.odometer }} км, местонахождение Корея.
                                        Если Вам понравился автомобиль, вы можете связаться с нами или отправить отправьте запрос через форму связи или предложите ставку, и мы свяжемся с вами в кратчайшие сроки для уточнения всех деталей. Внимание! Предложение ставки не накладывает на Вас никаких обязательств. Отправив запрос на участие в онлайн торгах, Вы лишь показываете свою заинтересованность в покупке автомобиля. Решение о приобретении авто Вы примите только после общения с менеджером компании {{ setting.title }} и после подписания договора. Подробнее о покупке авто читайте в разделе "Этапы работы" на этой странице.
                                    </p>
                                    <!-- <figure class="block-gallery mb-0">
                                        <ul class="blocks-gallery-grid">
                                            <li class="blocks-gallery-item mb-0 me-0">
                                                <figure>
                                                    <img src="{{ car.car_images.all.0.image.url }}"
                                                        alt="img" class="block-image">
                                                </figure>
                                            </li>
                                        </ul>
                                    </figure> -->

                                    <h6 class="widget-title">
                                        Почему нужно заказывать у нас?
                                        <span class="title-line"></span>
                                    </h6>
                                    <p>{{ setting.description }}</p>
                                    <ul class="point_order">
                                        <li>Команда опытных профессионалов, которые могут помочь вам найти идеальный автомобиль для ваших нужд.</li>
                                        <li>Мы предлагаем бесплатный осмотр вашего автомобиля перед покупкой, чтобы убедиться, что он в хорошем состоянии.</li>
                                        <li>Быстро и надежно доставим ваш товар</li>
                                    </ul>
                                    <figure class="block-gallery">
                                        <ul class="blocks-gallery-grid">
                                            {% for image in images %}
                                            <li class="blocks-gallery-item">
                                                <figure>
                                                    <img src="{{ image.image.url }}"
                                                        alt="img" class="block-image">
                                                    <div class="popup-btn"><a
                                                            href="{{ image.image.url }}"
                                                            data-fancybox="images"><i class="bi bi-plus"></i></a></div>
                                                </figure>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </figure>

                                    <!-- <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis incidunt
                                        animi dolore sapiente necessitatibus exercitationem inventore dolor soluta quo
                                        placeat cum mollitia tempore, ipsum amet repudiandae facere! Porro, aliquam
                                        impedit!
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo doloremque
                                        veritatis impedit repudiandae, molestiae assumenda laborum odit vero dolor sed
                                        itaque tenetur sequi eveniet distinctio aliquam quia dicta corrupti.
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar">
                            <div class="project-information">
                                <h6 class="widget-title">
                                    Инфо о машине
                                    <span class="title-line"></span>
                                </h6>
                                <ul>
                                    <li>
                                        <span class="data">Цена:</span> <span class="value">{{ car.price }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Марка:</span> <span class="value">{{ car.make }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Модель:</span> <span class="value">{{ car.model }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Год выпуска:</span> <span class="value">{{ car.year }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Цвет:</span> <span class="value">{{ car.color }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Двигатель:</span> <span class="value">{{ car.car_volume }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Пробег:</span> <span class="value">{{ car.odometer }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Трансмиссия:</span> <span class="value">{{ car.gearbox }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Привод:</span> <span class="value">{{ car.drive_unit }}</span>
                                    </li>
                                    <li>
                                        <span class="data">Кузов:</span> <span class="value">{{ car.drive_unit }}</span>
                                    </li>
                                </ul>

                                <div class="project-share">
                                    <ul>
                                        <li>Поделиться:</li>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'include/selection_request.html' %}
    </main>

    <!-- Footer-->
    <footer class="footer bg-dark-200 box_padding">
        <div class="footer_inner bg-black">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="section-header">
                            <h2>Контакты</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="communication">
                            <div class="info_body">
                                <h6>Email</h6>
                                <h5>KBtrade@gmail.com</h5>
                            </div>
                            <div class="info_body">
                                <h6>Номер телефона</h6>
                                <h5>+996 555 777 666</h5>
                            </div>
                            <div class="info_body">
                                <h6>Наш адрес</h6>
                                <h5>Кыргызстан, г.Бишкек</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="footer_elements d-flex align-items-center justify-content-end">
                            <div class="footer_elements_inner">
                                <div class="footer_logo">
                                    <a href="index.html" class="light_logo"><img src="../assets/img_auto/logo.png"
                                            alt="logo"></a>
                                </div>
                                <div class="footer_social">
                                    <ul class="social_list">
                                        <li class="facebook"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li class="tiktok"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                        <li class="whatsapp"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                        <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="copyright">
                                    <p>KBTrade 2023. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Section Grid Lines -->
            <ul class="grid_lines d-none d-md-flex justify-content-between">
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
                <li class="grid_line"></li>
            </ul>
        </div>
    </footer>

    <div class="totop">
        <a href="#">↑</a>
    </div>

    <!-- Page Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
        <li class="grid_line"></li>
    </ul>

{% endblock %}