{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

        <!-- Preloader -->
        <div id="preloader">
			<div class="preloader-inner">
				<div class="spinner"></div>
				<div class="loading-text">
					<span data-preloader-text="K" class="characters">K</span>
					<span data-preloader-text="B" class="characters">B</span>
					<span data-preloader-text=" " class="characters"> </span>
					<span data-preloader-text="T" class="characters">T</span>
					<span data-preloader-text="R" class="characters">R</span>
					<span data-preloader-text="A" class="characters">A</span>
					<span data-preloader-text="D" class="characters">D</span>
					<span data-preloader-text="E" class="characters">E</span>
				</div>
			</div>
		</div>

        <!-- Cursor Effect -->
        <!-- <div class="pointer bnz-pointer" id="bnz-pointer"></div> -->

        <!-- Header -->
		{% include 'include/header.html' %}


		<!-- Page Header -->
        <div class="page_header">
            <div class="page_header_inner">
                <div class="container">
                    <div class="page_header_content d-flex align-items-center justify-content-between">
                        <h2 class="heading">Контакты</h2>
                        <ul class="breadcrumb d-flex align-items-center">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li class="active">Контакты</li>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>

        
        <!-- Main Wrapper-->
        <main class="wrapper">
            <!-- Scroll Progress -->
            <section class="contact_us bg-dark-200">
                <div class="container">
                    <div class="row justify-content-between">
                        <!-- <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                            <div class="home_contact">
                                <form action="{% url 'send_contact' %}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control form-control-lg" name="name" id="name" type="text" placeholder="ФИО*" required aria-label=".form-control-lg example">
                                    <input class="form-control form-control-lg" name="phone" id="phone" type="text" placeholder="Номер телефона" aria-label=".form-control-lg example">
                                    
                                    <div class="btn_group">
                                        <button type="submit" class="btn olive">Отправить</button>  
                                    </div>
                                </form>
                            </div>
                        </div> -->
                        
                        <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1000">
                            <div class="section-header">
                                <h1 class="text-white text-uppercase mb-4">Контакты</h1>
                                <p class="$gray-600">{{ setting.description }}</p>
                                <div class="contact_info_inner">
                                    <p>Наши контакты для связи</p>
                        
                                    <div class="contact_info_inner_box">
                                        <h5>Контакты</h5>
                                        <p>{{ setting.phone }}</p>
                                        <p>{{ setting.address }}</p>
                                        <p>{{ setting.email }}</p>
                        
                                    </div>
                                    <div class="social_sites">
                                        <ul class="d-flex align-items-left justify-content-left">
                                            {% if setting.facebook %}
                                            <li><a href="{{ setting.facebook }}"><i class="bi bi-facebook"></i></a></li>
                                            {% endif %}
                                            {% if setting.instagram %}
                                            <li><a href="{{ setting.instagram }}"><i class="bi bi-tiktok"></i></a></li>
                                            {% endif %}
                                            {% if setting.tiktok %}
                                            <li><a href="{{ setting.tiktok }}"><i class="bi bi-instagram"></i></a></li>
                                            {% endif %}
                                            {% if setting.whatsapp %}
                                            <li><a href="{{ setting.whatsapp }}"><i class="bi bi-whatsapp"></i></a></li>
                                            {% endif %}
                                            <!-- <li><a href="#"><i class="bi bi-telegram"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section Grid Lines -->
                <ul class="grid_lines d-none d-md-flex justify-content-between">
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                </ul>
            </section>

            {% include 'include/selection_request.html' %}

        </main>

        <!-- Footer-->
        {% include 'include/footer.html' %}

        <div class="totop">
            <a href="#">↑</a>
        </div>

        <!-- Page Grid Lines -->
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>

{% endblock %}