{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

        <!-- Preloader -->
        <div id="preloader">
			<div class="preloader-inner">
				<div class="spinner"></div>
				<div class="loading-text">
					<span data-preloader-text="K" class="characters">K</span>
					<span data-preloader-text="B" class="characters">B</span>
					<span data-preloader-text=" " class="characters"> </span>
					<span data-preloader-text="T" class="characters">T</span>
					<span data-preloader-text="R" class="characters">R</span>
					<span data-preloader-text="A" class="characters">A</span>
					<span data-preloader-text="D" class="characters">D</span>
					<span data-preloader-text="E" class="characters">E</span>
				</div>
			</div>
		</div>

        <!-- Cursor Effect -->
        <div class="pointer bnz-pointer" id="bnz-pointer"></div>

        <!-- Header -->
		{% include 'include/header.html' %}

        <div class="aside_info_wrapper">
			<button class="aside_close"><i class="bi bi-x-lg"></i></button>
            <div class="aside_logo">
                <a href="index.html" class="light_logo"><img src="{% static 'assets/img_auto/logo.png' %}" alt="logo"></a>
            </div>
			<div class="aside_info_inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                
                <div class="aside_info_inner_box">
                    <h5>Контакты</h5>
                    <p>+996 456 789 333</p>
                    <p>Кыргызстан</p>
                    <p>KBtrade@gmail.com</p>

                </div>
                <div class="social_sites">
                    <ul class="d-flex align-items-center justify-content-center">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                        <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                    </ul>
                </div>
			</div>
		</div>

		<!-- Page Header -->
        <div class="page_header">
            <div class="page_header_inner">
                <div class="container">
                    <div class="page_header_content d-flex align-items-center justify-content-between">
                        <h2 class="heading">Контакты</h2>
                        <ul class="breadcrumb d-flex align-items-center">
                            <li><a href="index.html">Главная</a></li>
                            <li class="active">Контакты</li>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>

        
        <!-- Main Wrapper-->
        <main class="wrapper">
            <!-- Scroll Progress -->
            <section class="contact_us bg-dark-200">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                            <div class="home_contact">
                                <form action="" method="POST">
                                    <input class="form-control form-control-lg" name="name" id="name" type="text" placeholder="ФИО*" required aria-label=".form-control-lg example">
                                    <input class="form-control form-control-lg" name="phone" id="phone" type="number" placeholder="Номер телефона" aria-label=".form-control-lg example">
                                    <input class="form-control form-control-lg" name="email" id="email" type="email" placeholder="Email*" required aria-label=".form-control-lg example">
                                    <textarea class="form-control pt-4" name="message" id="message" placeholder="Ваш вопрос" rows="3"></textarea>
                                    <div class="btn_group">
                                        <button type="submit" class="btn olive">Отправить</button>  
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1000">
                            <div class="section-header">
                                <h1 class="text-white text-uppercase mb-4">Контакты</h1>
                                <p class="$gray-600">{{ setting.description }}</p>
                                <div class="contact_info_inner">
                                    <p>Наши контакты для связи</p>
                        
                                    <div class="contact_info_inner_box">
                                        <h5>Контакты</h5>
                                        <p>{{ setting.phone }}</p>
                                        <p>{{ setting.address }}</p>
                                        <p>{{ setting.email }}</p>
                        
                                    </div>
                                    <div class="social_sites">
                                        <ul class="d-flex align-items-center justify-content-center">
                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                            <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                            <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="bi bi-telegram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section Grid Lines -->
                <ul class="grid_lines d-none d-md-flex justify-content-between">
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                </ul>
            </section>

            {% include 'include/selection_request.html' %}

        </main>

        <!-- Footer-->
        <footer class="footer bg-dark-200 box_padding">
            <div class="footer_inner bg-black">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-lg-4 col-md-2 col-sm-2">
                            <div class="section-header">
                                <h2>Контакты</h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5">
                            <div class="communication">
                                <div class="info_body">
                                    <h6>Email</h6>
                                    <h5>KBtrade@gmail.com</h5>
                                </div>
                                <div class="info_body">
                                    <h6>Номер телефона</h6>
                                    <h5>+996 555 777 666</h5>
                                </div>
                                <div class="info_body">
                                    <h6>Наш адрес</h6>
                                    <h5>Кыргызстан, г.Бишкек</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5">
                            <div class="footer_elements d-flex align-items-center justify-content-end">
                                <div class="footer_elements_inner">
                                    <div class="footer_logo">
                                        <a href="index.html" class="light_logo"><img src="{% static 'assets/img_auto/logo.png' %}" alt="logo"></a>
                                    </div>
                                    <div class="footer_social">
                                        <ul class="social_list">
                                            <li class="facebook"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                            <li class="tiktok"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                            <li class="whatsapp"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                                            <li class="telegram"><a href="#"><i class="bi bi-telegram"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="copyright">
                                        <p>KBTrade 2023. All Rights Reserved</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Section Grid Lines -->
                <ul class="grid_lines d-none d-md-flex justify-content-between">
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                    <li class="grid_line"></li>
                </ul>
            </div>
        </footer>

        <div class="totop">
            <a href="#">↑</a>
        </div>

        <!-- Page Grid Lines -->
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>

{% endblock %}